body {
    width: 1360px;
    height: 1102px;
    margin: 0px;
    padding: 0px;
    background: url(/image/fitness-wallpaper-free-Download3.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1360px;
    color: white;
    font-family: cursive;
}

.left {
    position: absolute;
    top: 20px;
    left: 47px;
}

.left img {
    width: 100px;
    height: 47px;
}

.left div {
    text-align: center;
    line-height: 12px;
    font-size: 21px;
}

.mid {
    display: block;
    margin: 20px auto;
    width: 40%;
}

.right {
    position: absolute;
    top: 20px;
    right: 47px;
}

.right ul {
    list-style-type: none;
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 23px;
}

.navbar li a:hover, .navbar li a.active {
    color: rgb(124, 124, 124);
    text-decoration: underline;
}

.btn {
    margin-bottom: 2px;
    padding: 2px;
    margin-right: auto;
    background-color: rgb(68, 55, 55);
    color: blanchedalmond;
    border: blueviolet;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    font-family: cursive;
}

.btn:hover {
    background-color: rgb(77, 77, 77);
}

.container {
    border: white solid 1px;
    border-radius: 35px;
    margin: 89px 48px;
    padding: 49px;
    width: 31%;
    display: inline-block;
    background: url(/image/fitness-wallpaper-free-Download3\ -\ Copy.jpeg);
    background-size: 119%;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
}

.form-group input {
    text-align: center;
    margin: 3px auto;
    width: 71%;
    padding: 8px;
    border: 3px solid;
    border-color: #206daf;
    border-radius: 22px;
    display: block;
    background-color: d0d5d6;
}

.container button {
    text-align: center;
    display: block;
    margin: 10px auto;
    width: 126px;
    height: 30px;
    border: #206daf solid 2px;
    border-radius: 30px;
}

.aboutus {
    color: black;
}